.comments-container {
  width: 66%;
  margin-left: 33%;
}

.comments-index {
  width: 100%;
}

.comments-container > h3 {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

.comment {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 25px 0;
}

.comment:last-of-type {
  padding-bottom: 50px;
}

.comment-header > h3 {
  font-weight: bold;
  padding-right: 12px;
  border-right: 1px solid #ccc;
  display: inline-block;
  margin-bottom: 12px;
  font-size: 14px;
}

.comment-header > h3:last-of-type {
  padding-left: 12px;
  border: none;
  font-weight: normal;
  color: #777;
}

.comment-header > button {
  padding-left: 12px;
  font-size: 14px;
  color: #e33d26;
}

.comment > p {
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  .comments-container {
    width: 100%;
    margin: 0 0;
  }
}
