.feature-container {
  width: 100%;
  position: relative;
  max-height: 530px;
  overflow: hidden;
}

.feature-info {
  width: 320px;
  height: 280px;
  background: white;
  position: absolute;
  right: 85px;
  bottom: 75px;
}

.feature-label {
  position: absolute;
  bottom: 295px;
  right: 30px;
  width: 110px;
  height: 110px;
  background-color: #e33d26;
  border-radius: 55px;
  color: white;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1.1px;
  font-weight: bold;
  box-sizing: border-box;
  padding-top: 40px;
}

.feature-info h2, .feature-info h3 {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.feature-info > h2 {
  font-size: 34px;
  padding: 0 60px;
  margin-top: 70px;
  margin-bottom: 45px;
}

.feature-info > h3 {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.save-from-feature {
  width: 170px;
  color: white;
  font-size: 15px;
  box-sizing: border-box;
  padding-left: 35px;
  font-weight: bold;
  border-radius: 5px;
  height: 35px;
  border: 1px solid #ccc;
  background: black;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.save-from-feature:hover {
  background-color: #e33d26;
}

.save-from-feature > div {
  background-image: image-url("save-ribbon-white-outline.png");
  width: 25px;
  height: 33.33px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: 4px;
}

.save-from-feature.saved > div {
  background-image: image-url("save-ribbon-filled-white.png");
}

@media screen and (max-width: 750px) {
  .feature-label {

    width: 135px;
    height: 20px;
    padding:0;
    padding-top: 3px;
    font-size: 10px;
    bottom: 140px;
    left: 0;
    right:0;
    margin: 0 auto;
    z-index: 10;

  }
  .feature-label > br {
    display: none;

  }
  .feature-info {

    width: 100%;
    left:0;
    bottom: 0;
    height: 150px;

  }

  .feature-info > h2 {
    margin-top: 32px;
    margin-bottom: 35px;
  }
  .save-from-feature {
    bottom: 155px;
  }
}
