.global-nav {
  height: 65px;
  display: flex;
  // background:blue;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  // color: #7d131b;
  color: #e33d26;
}

.logo {
  width: 17%;
  height: 65px;
  background-image: image-url("logo-small.png");
  background-repeat: no-repeat;
  background-position: center;
  border-right: 1px solid #ccc;
}


.search-container {
  // background: orange;
  width: 68%;
  height:inherit;
}


.top-right-buttons {
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 10%;

}

.top-right-buttons button {
  width: 100%;
  // margin-right: 8px;
  /*margin-top: 11px;*/
  border-left: 1px solid #ccc;

  height: 100%;
  margin-top: auto;
  text-align: center;
  color: #e33d26;
  font-weight:bold;
}

.recipe-box-button {
  display: none;
}

.top-right-buttons.loggedIn {
  width: 20%;
}

.recipe-box-button.loggedIn {
  display: block;
}

.search-container.loggedIn {
  width: 59%
}
