.ratings-bar {
  display: flex;
  width: 100%;
  height: 58px;
  border-bottom: 1px solid #ccc;
  align-items: flex-end;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 5px;
}

.ratings-bar > div {
  // margin: 0 10px;
  display: flex;
  align-items: center;
}

.ratings-bar > div > h3 {
  font-size: 15px;
  font-weight: 500;
  margin-right: 7px;
}

.ratings-bar > div:last-of-type > h3 {
  font-size: 12px;
}

.ratings-bar > div > ul {
  display: flex;
  margin-bottom: 5px;
}

.overall-filled {
  background-image: image-url("star-rating-filled-red.png");
  background-size: contain;
  width: 15px;
  height: 15px;

}

.overall-empty {
  background-image: image-url("star-rating-unfilled.png");
  background-size: contain;
  width: 15px;
  height: 15px;
}

.user-filled {
  background-image: image-url("star-rating-filled-orange.png");
  background-size: contain;
  width: 20px;
  height: 20px;
}

.user-empty {
  background-image: image-url("star-rating-unfilled.png");
  background-size: contain;
  width: 20px;
  height: 20px;
}
