.index-wrapper {
  background: #F5F5F5;
  padding-bottom: 20px;
}

.index-header {
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  width: 88.6%;
  border-bottom: 8px solid black;
}

.index-header h1 {
  font-size: 38px;
  font-weight: bolder;

}

.index-header p {
  font-size: 18px;
  font-weight: bolder;
  padding-bottom: 40px;
}

.recipe-index {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;

}


.recipe-index-item {
  // font-family: 'Muli', sans-serif;
  box-sizing: border-box;
  width: 235px;
  height: 278px;
  display: block;
  margin-top: 35px;
  margin-right: 7.5px;
  margin-left: 7.5px;

  position: relative;
}

.recipe-index-item:hover {

  box-shadow: 8px 8px 5px gray;
}

.recipe-index-image {
  // background-image: image-url("pizza_placeholder.jpg");
  height: 56%;
  margin: 0;
}

.recipe-index-info {
  height: 44%;
  background: white;
  padding-left: 12px;

};

.recipe-index-info h3 {
  padding-top: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  text-align: left;
}

.recipe-index-info h4 {
  padding-top: 4px;

  font-size: 14px;
  line-height: 1;
}

.recipe-index-info h5 {
  color: #A9A9A9;
  font-size: 13px;
  padding-top: 40px;

}




.save-from-index {
  background-image: image-url("save-ribbon.png");
  background-size: contain;
  height: 25px;
  width: 25px;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.save-from-index.saved {
  background-image: image-url("save-ribbon-filled.png");
}
